.card {
  width: 280px;
  min-height: 380px;

  background-color: antiquewhite;
  border: 2px solid red;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
  box-sizing: border-box;
}

.card img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin-bottom: 20px;
}

.card h2 {
  margin: 5px 0;
}

.card h3 {
  margin: 5px 0 15px;
}

.card button {
  padding: 8px 16px;
  cursor: pointer;
}